.git
.github
.idea
.next
.vercel
node_modules
npm-debug.log*
Dockerfile
docker-compose.yml
.dockerignore
.env
.env.*
!.env.docker.example
private/*.db
private/*.db-*
tsconfig.tsbuildinfo
README.md
docs
